/* 

.nav{ 
    display: flex;
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(36, 34, 34);
    justify-content: center;
}
.nav span{
    color: white;
}
#cal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btn{
    border-radius: 10px;
    margin: 20px;
    width: 30px;
    height: 30px;
}
#expenseTbl{
    border-radius: 10px;
    background-color: rgb(70, 65, 65);
    color: white;
    padding: 15px;
}

 */
